
                        <div id="info">
      <p>LaunchSelf is a platform for connecting people and organizations for stages. A stage (v. pronounced like “garage”) is a short term work engagement, where an individual has a chance to show off their skills and learn something in exchange. Companies can see workers in action without making a big commitment, and quickly identify those candidates with the greatest character and ability to grow.  </p>
                        </div>